<!-- <div *ngIf="data">
    <h2>{{ data.cardById.name }}</h2>
    <p>{{ data.cardById.description }}</p>
  
    <ul>
      <li>
        <h3>{{ data.listCards.name }}</h3>
        <p>{{ data.listCards.skills }}</p>
        <ul>
          <li *ngFor="let attack of data.listCards.attack">
            <p>{{ attack.name }}</p>
          </li>
        </ul>
      </li>
    </ul>
  
    <h2>{{ data.drawCard.name }}</h2>
    <p>{{ data.drawCard.skills }}</p>
    <p>{{ data.drawCard.Attack }}</p>
  </div>
   -->

   <hr>

   <!-- <div>
    <h2>List of Cards</h2>
    <div *ngFor="let card of cards">
      <h3>{{ card.name }}</h3>
      <p>{{ card.skills.join(', ') }}</p>
    </div>
  </div> -->

  <h1>Zeus</h1>
  <button (click)="fetchPeople()">Fetch People</button>
    <ul>
      <li *ngFor="let person of people">{{ person.name }}</li>
    </ul>